<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zn.expirytracker">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Needed for persisting notification jobs and widget updating across device restarts -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Running this app does NOT require camera. Users can enter food via text and speech -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".ExpiryTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- Cleartext is disabled on 28 by default. https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted -->
        <!-- Install Firebase components upon app's installation -->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode, label, ocr, ica" />

        <activity
            android:name=".ui.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_settings_name" />
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/activity_details_name"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.EditActivity"
            android:label="@string/activity_edit_item_name"
            android:parentActivityName=".ui.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.AddActivity"
            android:label="@string/activity_add_item_name"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.capture.CaptureActivity"
            android:fitsSystemWindows="true"
            android:label="@string/activity_capture_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>

        <receiver
            android:name=".ui.widget.FoodWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/food_widget_info" />
        </receiver>

        <service
            android:name=".ui.widget.FoodListRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".ui.widget.UpdateWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".ui.notifications.NotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- authorities must be full name, not just ".fileprovider" -->
        <!-- For multi build configs, useful to set the applicationId field: https://stackoverflow.com/questions/16267785/install-shows-error-in-console-install-failed-conflicting-provider/37757255
            Make sure this is set also in Java using BuildConfig.APPLICATION_ID -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>