<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.jaschke.alexandria" >

    <!-- Network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Camera permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <!-- For the barcode scanner -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!-- For the content provider -->
        <provider
            android:name="it.jaschke.alexandria.provider.BooksProvider"
            android:authorities="it.jaschke.alexandria.provider"
            android:exported="false" />

        <!-- Main activity -->
        <!-- Use NoActionBar to allow DrawerLayout to cover up the toolbar -->
        <!-- android:windowSoftInputMode="stateHidden" prevents keyboard from popping up
                automatically if activity loads with an EditText as the first view
              link: http://stackoverflow.com/questions/2496901/android-on-screen-keyboard-auto-popping-up -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Detail activity -->
        <activity
            android:label="@string/title_activity_details"
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.jaschke.alexandria.MainActivity"/>
        </activity>

        <!--&lt;!&ndash; Settings activity &ndash;&gt;-->
        <!--<activity-->
            <!--android:label="@string/title_activity_settings"-->
            <!--android:name=".SettingsFragment"-->
            <!--android:parentActivityName=".MainActivity" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".MainActivity" />-->
        <!--</activity>-->

        <!-- Barcode scanner activity -->
        <activity android:name=".BarcodeCaptureActivity"
                  android:label="@string/title_fragment_fetch"/>

    </application>

</manifest>
