<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright (C) 2015 Teddy Rodriguez (TROD)
    email: cia.123trod@gmail.com
    github: TROD-123

  For Udacity's Android Developer Nanodegree
  P1-2: Popular Movies

  Currently for educational purposes only.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirdarm.popularmovies" >

    <!-- Internet permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SyncAdapter permissions -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Content provider usage -->
        <provider
            android:authorities="com.thirdarm.popularmovies"
            android:name=".MovieProvider"
            android:exported="false"
            android:syncable="true"/>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Detail activity (only for small screen devices) -->
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_detail">
        </activity>

        <!-- Dummy authentication service -->
        <service
            android:name=".sync.MoviesAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- SyncAdapter service -->
        <service
            android:name=".sync.MoviesSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

    </application>

</manifest>
